<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="世界史と日本史の年号並び替えゲーム。大学受験の範囲を完全網羅。息抜きに年号クイズ。vue.jsで作成。SPAサイト。">
    <meta name="keywords" content="世界史,日本史,並び替え,年号,歴史ゲーム,年号ゲーム,受験,大学受験,vue.js">
    <title>TimeLineGame</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS読み込み -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- jQuery読み込み -->
    <script src="./lib/jquery-3.5.1.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>
  <body>
    <!--タイトル画面-->
    <header class="title">
      <h1>Time Line Game</h1>
      <p>歴史とは 現在との間の尽きることのない対話である</p>
    </header>
    <!--上部メニュー画面-->
    <header style="background-color:rgb(203, 221, 233)">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <div id="gameMode">  
              <div class="tab-wrap">
                <input id="TAB-01" type="radio" name="TAB" class="tab-switch" value="japan" v-model="picked"/>
                <label class="tab-label" for="TAB-01">日本史</label>
                <input id="TAB-02" type="radio" name="TAB" class="tab-switch" value="world" v-model="picked"/>
                <label class="tab-label" for="TAB-02">世界史</label>
                <input id="TAB-03" type="radio" name="TAB" class="tab-switch" value ="all" v-model="picked" checked="checked"/>
                <label class="tab-label" for="TAB-03">全範囲</label>
              </div>
              <select v-model="column">
                <option disabled value=3>難易度選択</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>8</option>
              </select>
              <div>並び替え数: {{ column }}</div>              
           </div>
          </div>
          <div class="col-sm-5"></div>
          <div class="col-sm-3">
            <div id="gameCtl">
              <button v-on:click="gameStart" class="pochitto_btn_blue" >スタート</button>
              <button v-on:click="gameEnd" class="pochitto_btn_blue">終了</button>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="container-fluid">
      <div class="row">
        <!--メインメニュー画面-->
        <div class="col-sm-8 order-md-3">
          <div id="quizlist">
            <template v-if="show">
              <div class="row">
                <button class="pochitto_btn_blue" v-on:click="answerCheck" v-if="!showAnswer">決定</button>          
                <h4 v-if="answer === 'good'" style=color:blue>　〇正解</h4>
                <h4 v-else-if="answer === 'bad'" style=color:blue>　×不正解</h4>
                <h5 v-else>　時代順に並びかえよ！</h5>
                <h5 style=color:red>　
                  経過時間：
                  <span v-if="showEndtime">{{endtime}}秒　</span>
                  <span v-else="showEndtime">{{time}}秒　</span>
                </h5>
              </div>
              <p>古代</p>
              <draggable v-model="items" tag="ul" :animation="300">
                <li v-for="item, index in items" :key="item.no" >
                  <div v-if="showAnswer" style=color:red>{{item.age}}年</div>
                  {{item.name}}
                </li>
              </draggable>
              <p>近代</p>
            </template>
          </div>
        </div>
        <!--サイドメニュー左画面-->
        <div class="col-sm-3 order-md-1">
          <div class="row" style="background:rgb(112, 195, 216);">遊び方</div>
          <p>１．出題範囲と難易度を選択</p>
          <p>２．ゲームスタート</p>
          <p>３．ドラッグ操作で並び替え</p>
          <div class="row" style="background:rgb(112, 195, 216);">出典先</div>
          <p>歴史データベース｜日本史・世界史 歴史年表：
            <a href="http://www.toshin.com/rekishi_list/index.php">リンク先</a>
          </p>
        </div>
        <!--サイドメニュー右画面-->
        <div class="col-sm-1 order-md-3">
      </div>

      </div>
    </div>
    <!--フッター画面-->
    <footer style="background-color:gray">
      made by vue.js
    </footer>
  </body>
  <!-- vue.jsモジュール読み込み -->
  <script src="./lib/vue.min.js"></script>
  <!-- Vue.Draggable読み込み -->
  <script src="./lib/Sortable.min.js"></script>
  <script src="./lib/vuedraggable.umd.min.js"></script>
  <!-- js読み込み -->
  <script type="module" src="./js/index.mjs"></script>
  <script type="module" src="./js/dataset.mjs"></script>
</html>